/**
 * CSS code for showing the icons for the submenu items in the appearance tab.
 *
 * @package Astra
 * @since 2.6.0
 */

#menu-appearance a[href^="edit.php?post_type=astra-"]:before,
#menu-appearance a[href^="themes.php?page=astra-"]:before,
#menu-appearance a[href^="edit.php?post_type=astra_"]:before,
#menu-appearance a[href^="edit-tags.php?taxonomy=bsf_custom_fonts"]:before,
#menu-appearance a[href^="themes.php?page=custom-typekit-fonts"]:before,
#menu-appearance a[href^="edit.php?post_type=bsf-sidebar"]:before {
        content: "\21B3";
        margin-left: 0.5em;
        opacity: 0.5;
    }