/**
 * CSS code for showing the astra settings metabox in the editor view.
 *
 * @package Astra
 * @since 2.6.0
 */

.block-editor-page #side-sortables #astra_settings_meta_box select { 
     min-width: 84%; padding: 3px 8px 3px 24px; height: 20px; 
    }      
    
.block-editor-page #normal-sortables #astra_settings_meta_box select {
         min-width: 200px; 
    }

.block-editor-page .edit-post-meta-boxes-area #poststuff #astra_settings_meta_box h2.hndle {
        border-bottom: 0; 
    }

.block-editor-page #astra_settings_meta_box .components-base-control__field, .block-editor-page #astra_settings_meta_box .block-editor-page .transparent-header-wrapper, .block-editor-page #astra_settings_meta_box .adv-header-wrapper, .block-editor-page #astra_settings_meta_box .stick-header-wrapper, .block-editor-page #astra_settings_meta_box .disable-section-meta div {
        margin-bottom: 8px; 
    }

.block-editor-page #astra_settings_meta_box .disable-section-meta div label {
        vertical-align: inherit; 
    }

.block-editor-page #astra_settings_meta_box .post-attributes-label-wrapper {
        margin-bottom: 4px; 
    }

#side-sortables #astra_settings_meta_box select {
        min-width: 100%; 
    }

#normal-sortables #astra_settings_meta_box select {
        min-width: 200px; 
    }